<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Thank you!</title>
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/79361FE4-E74C-7D43-AAC2-C2A26CF13468/main.js" charset="UTF-8"></script>
</head>
<body>
<h1>Thank you!</h1>
{{fin_form}}
<p><a href='/'>Retake the test</a></p>
<p><a href='/correct'>View the correct answers</a></p>
<p><a href='/stats'>Statistics for all the tests taken</a></p>
<p><a href='/json'>View a JSON with all the results</a></p>
<p><a href='/search'>Search for something</a></p>
<p><a href='/stats'>Statistics for all the tests taken</a></p>
</body>