<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Благодарность</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/79361FE4-E74C-7D43-AAC2-C2A26CF13468/main.js" charset="UTF-8"></script></head>
<body>
<p>{{fin_form}}</p>
<p><a href='/'>Главная страница</a></p>
<p><a href='/stats'>Статистика опроса</a></p>
<p><a href='/json'>Json со всеми введенными на сайте данными</a></p>
<p><a href='/search'>Поиск по результатам</a></p>
</body>
</html>